<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="./library/popper.min.js"></script>
    <script src="./library/jquery-3.5.1.min.js"></script>
    <script src="./library/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./library/bootstrap.min.css">
    <script type="module" src="./js/client.js"></script>
    <script type="module" src="./js/app_client.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/app_client.css">
    <title>Funny Notebook</title>
</head>
<body>
    <ul id="code_msg"></ul>
    <form id="code_form" action="#">
      <input id="input_code" autocomplete="off" /><button>Send</button>
    </form>
    <h1><%= title %></h1>
    <button type="button" class="btn btn-light">Light</button>
</body>
</html>