#input_code{
    background-color:aquamarine;
    color: skyblue;
    font-size:32;
}
#code_form{
    color:skyblue;
    
}
body {
    background-color: azure;
    color: #000000;
}
h1{
    color: greenyellow;
}